<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/iti.css">
    
    <title>Tripper</title>
</head>
<body>
    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Himachal%20Pradesh">
            <img src="img/bg2.jpg" alt="Himachal pradesh">
          </a>
          <div class="desc">Himachal Pradesh
          </div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Uttar%20Pradesh">
            <img src="img/bg1.jpg" alt="Uttar pradesh">
          </a>
          <div class="desc">Uttar Pradesh
            </div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Rajasthan">
            <img src="img/bg3.jpg" alt="Rajasthan">
          </a>
          <div class="desc">Rajasthan
            </div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Goa">
            <img src="img/bg4.jpg" alt="Goa">
          </a>
          <div class="desc">Goa
           
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Andhra%20Pradesh">
            <img src="img/bg6.jpg" alt="Andhra Pradesh">
          </a>
          <div class="desc">Andhra Pradesh</div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Arunachal%20Pradesh">
            <img src="img/bg7.jpg" alt="Arunachal Pradesh">
          </a>
          <div class="desc">Arunachal Pradesh
           
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Assam">
            <img src="img/bg8.jpg" alt="Assam" >
          </a>
          <div class="desc">Assam
           
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Bihar">
            <img src="img/bg9.jpg" alt="Bihar" >
          </a>
          <div class="desc">Bihar
           
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Chhattisgarh">
            <img src="img/bg10.jpg" alt="Chhattisgarh" >
          </a>
          <div class="desc">Chhattisgarh
           
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Gujarat">
            <img src="img/bg11.jpg" alt="Gujarat" >
          </a>
          <div class="desc">Gujarat 
           
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Haryana">
            <img src="img/bg12.jpg" alt="Haryana" >
          </a>
          <div class="desc">Haryana
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Jharkhand">
            <img src="img/bg13.jpg" alt="Jharkhand" >
          </a>
          <div class="desc">Jharkhand
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Karnataka">
            <img src="img/bg14.jpg" alt="Karnataka" >
          </a>
          <div class="desc">Karnataka
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Kerala">
            <img src="img/bg15.jpg" alt="Kerala" >
          </a>
          <div class="desc">Kerala
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Madhya%20Pradesh">
            <img src="img/bg16.jpg" alt="Madhya Pradesh" >
          </a>
          <div class="desc">Madhya Pradesh

          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Maharashtra">
            <img src="img/bg17.jpg" alt="Maharashtra" >
          </a>
          <div class="desc">Maharashtra
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Manipur">
            <img src="img/bg18.jpg" alt="Manipur" >
          </a>
          <div class="desc">Manipur
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Meghalaya">
            <img src="img/bg19.jpg" alt="Meghalaya" >
          </a>
          <div class="desc">Meghalaya
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Mizoram">
            <img src="img/bg20.jpg" alt="Mizoram" >
          </a>
          <div class="desc">Mizoram
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Nagaland">
            <img src="img/bg21.jpg" alt="Nagaland" >
          </a>
          <div class="desc">Nagaland
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Odisha">
            <img src="img/bg22.jpg" alt="Odisha" >
          </a>
          <div class="desc">Odisha
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Punjab">
            <img src="img/bg23.jpg" alt="Punjab" >
          </a>
          <div class="desc">Punjab
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Sikkim">
            <img src="img/bg24.jpg" alt="Sikkim" >
          </a>
          <div class="desc">Sikkim
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=tamil%20nadu">
            <img src="img/bg25.jpg" alt="Tamil Nadu" >
          </a>
          <div class="desc">Tamil Nadu
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Telangana">
            <img src="img/bg26.jpg" alt="Telangana" >
          </a>
          <div class="desc">Telangana
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Tripura">
            <img src="img/bg27.jpg" alt="Tripura" >
          </a>
          <div class="desc">Tripura
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Uttarakhand">
            <img src="img/bg28.jpg" alt="Uttarakhand" >
          </a>
          <div class="desc">Uttarakhand
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=West%20Bengal">
            <img src="img/bg29.jpg" alt="West Bengal" >
          </a>
          <div class="desc">West Bengal
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Andaman%20&%20Nicobar">
            <img src="img/bg30.jpg" alt="Andaman and Nicobar Islands" >
          </a>
          <div class="desc">Andaman and Nicobar Islands
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Daman%20%26%20Diu">
            <img src="img/bg31.jpg" alt="Dadra and Nagar Haveli and
            Daman & Diu
            " >
          </a>
          <div class="desc">
            Daman & Diu
            
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Jammu%20%26%20Kashmir">
            <img src="img/bg32.jpg" alt="Jammu & Kashmir" >
          </a>
          <div class="desc">Jammu & Kashmir
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Lakshadweep">
            <img src="img/bg33.jpg" alt="Lakshadweep" >
          </a>
          <div class="desc">Lakshadweep
         
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Chandigarh">
            <img src="img/bg34.jpg" alt="Chandigarh" >
          </a>
          <div class="desc">Chandigarh
         
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Delhi">
            <img src="img/bg35.jpg" alt="Delhi" >
          </a>
          <div class="desc">Delhi
         
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Ladakh">
            <img src="img/bg36.jpg" alt="Ladakh" >
          </a>
          <div class="desc">Ladakh
         
          </div>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="explore.html?destination=Puducherry">
            <img src="img/bg37.jpg" alt="Puducherry" >
          </a>
          <div class="desc">Puducherry
         
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
</body>
</html>